<a href="https://colab.research.google.com/github/ava11235/it111/blob/master/w3_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Reading**

zyBooks Ch 2 Variables and Expressions

**Reference**

[Python Basics Cheatsheet](https://www.pythoncheatsheet.org/#Python-Basics)

[Official Python documentation](https://docs.python.org/3/)

**Practice**

In class practice: zyBooks Lab 1.15 - No parking sign zyBooks Ch 2 Practice (graded participation activity)

**Learning Outcomes**

Upon successful completion of this chapter, students will be familiar with and able to apply the following concepts in their programs

String basics

List basics

Set basics

Dictionary basics

Common data type summary

Type conversions

String formatting

Binary numbers

**Examples**

In [4]:
# String
name = "Jordan"

# Literal String 
"Hello, World!"
# Single or double quotes OK
'Hello, World!'

# Use the built in len function to get the length of a string
print(len("Hello, World!"), "characters in this string.")

13 characters in this string.

In [5]:
# Use square brackets [] and the index of a charcter to gbet an individual character in a string
name = "Annie"
print(name[0]) # Indexes and 0 based
print(name[4])

A
e

In [7]:
# String concatenation
name = 'Jeff'
print("Hello, " + name + "! How are you today?")

Hello, Jeff! How are you today?

In [12]:
# List are another type of sequence. Lists, unlike strings, are mutable, meaning you can change them
grades = [100, 95, 75, 100]
print(grades)
# Update a grade for the second student
grades[1] = 100
print(grades)

# Add a new grade to the end of list
grades.append(82)
print(grades)

# Remove a grade from a specified index
grades.pop(2) # 75 will be removed
print(grades)

[100, 95, 75, 100]
[100, 100, 75, 100]
[100, 100, 75, 100, 82]
[100, 100, 100, 82]

In [15]:
# A set is an unordered (not a sequence) collection of unique elements
# Create a set
things_in_box = set(['pencil', 'eraser', 'hair band', 'paper clip'])
print (things_in_box)
things_in_box.add('ruler')
print (things_in_box)
things_in_box.remove('hair band')
print (things_in_box)

{'hair band', 'paper clip', 'pencil', 'eraser'}
{'paper clip', 'pencil', 'ruler', 'hair band', 'eraser'}
{'paper clip', 'pencil', 'ruler', 'eraser'}

In [19]:
# A dictionary object describes key and value pairs (an associative relationship)
state_birds = {"Alabama" : "Northern Flicker", "Alaska" : "Willow Ptarmigan", "Arizona" : "Cactus Wren" }
print(state_birds)
print(state_birds["Arizona"])

# Print all of the key value pairs
for state_bird in state_birds:
  print (state_bird, state_birds[state_bird])

{'Alabama': 'Northern Flicker', 'Alaska': 'Willow Ptarmigan', 'Arizona': 'Cactus Wren'}
Cactus Wren
Alabama Northern Flicker
Alaska Willow Ptarmigan
Arizona Cactus Wren

String formatting with the format() function. This function allows you to create a string with placeholders, writtn as {} within a string, where when the code ii exectured, the variable values will be repplaced with added formatting.

In [25]:

total = 133.4557
print("You have ${0:0.2f}, in your account.".format(total))

You have $133.46, in your account.

In [28]:
city = "Seattle"
state = "WA"
zip_code = 98122
print("City: {} State: {} Zip Code: {}".format(city, state, zip_code))

City: Seattle State: WA Zip Code: 98122